.card-img-overlay {
    height: calc(100% - 50px);
}

#objects_categories_container button a {
    color: #000;
}
#objects_categories_container button a:hover {
    text-decoration: none;
}

#services_categories_container button a {
    color: #000;
}
#services_categories_container button a:hover {
    text-decoration: none;
}
